.contacts {
    background: #2D2D2D;
    padding: 148px 0 134px;
    position: absolute;
    top: 0;
    right: 0;
    left: 63%;
    &-info {
        margin: 0 0 0 83px;
        &__title {
            color: #fff;
            font-size: 0.8125rem;
            opacity: 0.8;
            text-transform: uppercase;
            margin: 0 0 41px;
        }
        &__text {
            color: #fff;
            display: block;
            font-family: "Tahoma, sans-serif";
            opacity: 0.8;
            margin: 0 0 30px 0;
        }
    }
}


